<section class="zust-footer">
  <div class="company">
    <h2 style="color: white; font-family: 'Fredoka One', cursive; font-size: 3em;">zust.ai</h2>
  </div>
  <div class="links">
    <div>
      <h3>Sales and support</h3>
      <span>hello@zust.ai</span>
      <a href="https://zust.ai/affiliate">Affiliate program</a>
    </div>
    <div>
      <h3>Free tools</h3>
      <a href="https://zust.ai/tools/prompt-suggestion">Midjourney prompt suggestion</a>
    </div>
    <div>
      <h3>Products</h3>
      <a href="https://zust.ai">AI Product photography</a>
      <a href="https://photoshift.co">Photoshift</a>
      <a href="https://fashion.zust.ai">Fashion AI</a>
      <a href="https://qr.zust.ai">QR Code AI</a>
    </div>
    <div>
      <h3>Support</h3>
      <a href="https://zust.ai/terms">Terms</a>
      <a href="https://zust.ai/privacy">Privacy</a>
    </div>
  </div>
</section>